<header-component></header-component>

<!-- Page Content -->
<div class="container mt-5">

   <div class="row">
      <div id="blog-card" class="col-md-8">
         <h1 class="my-4">Publicaciones
            <small>Hoy</small>
         </h1>

         <div class="" id="posts-list">
            <div class="progress">
               <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
         </div>
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
         <!-- Here will be the asade -->
         <aside-component></aside-component>
      </div>

   </div>
   <!-- /.row -->

</div>
<!-- /.container -->

<footer-component></footer-component>