<!-- Title -->
<h1 class="mt-4">@POST_TITLE</h1>
<p>@TAGS</p>
<!-- Author -->
<p class="lead">
	by
	<a onclick="blog.router.goToRoute('/user/@US_ID');" style="cursor: pointer;color: blue;"" class="mr-2">@POST_USER</a>
</p>

<hr>

<!-- Date/Time -->
<p>@POST_DATE</p>

<hr>

<!-- Preview Image -->
<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

<hr>

<!-- Post Content -->
<p class="lead">
	@POST_BODY
</p>

<hr>
<button data-liked="@LIKED" id="btn-like-@POST_ID" onclick="blog.services.Post.putLike('@POST_ID',this)"
	class="btn btn-primary btn-sm btn-like"><i class="fas fa-thumbs-up"></i><span class="ml-1">@LIKES</span></button>
<button id="btn-comment-@POST_ID" class="btn btn-primary btn-sm btn-comment"><i class="fas fa-comments"></i> <span
		class="text-white">@COMMENTS</span></button>
<button id="btn-view-@POST_ID" class="btn btn-primary btn-sm btn-views"><i class="fas fa-eye"></i> <span
		class="text-white">@VIEWS</span></button>
<hr>

<comments-component data-post-id="@POST_ID"></comments-component>

