<!-- This is a single post template -->

<!-- Blog Post -->
<div class="card mb-4">
   <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
   <div class="card-body">
      <h2 class="card-title">@POST_TITLE</h2>
      <p>@TAGS</p>
      <p class="card-text">@POST_SUMMARY</p>
      <a href="#" class="btn btn-primary">Leer mas &rarr;</a>
   </div>
   <div class="card-footer text-muted">
      @POST_DATE by
      <a href="#">@USER</a>
      <button type="button" class="btn btn-sm btn-outline-primary">
         Me gustas <span class="badge badge-light">@LIKES</span>
         <span class="sr-only">unread messages</span>
      </button>
      <button type="button" class="btn btn-sm btn-outline-primary">
         Comentarios <span class="badge badge-light">@COMMENTS</span>
         <span class="sr-only">unread messages</span>
      </button>
   </div>
</div>