.hide-element {
    display: none !important;
}

/* Single post styles */
.post-title {
    font-size: 30px;
    text-decoration-line: none;
    cursor: pointer;
}

/* Navbar menu */
.header-component {
    margin-bottom : 50px;
}
